/* css variables - custom properties 
allow to store values in variables and reuse them in other places

--variable-name: value;
property: var(--variable-name);

scope
:root{} === global = means all can access it
element === local = means only that element can access it
any property

*/
:root {
  --primaryColor: #f15025;
  --secondaryColor: green;
  --mainTransition: all 2s linear;
  --mainSpacing: 5px;
}

h1 {
  color: var(--primaryColor);
}

h2 {
  color: var(--secondaryColor);
}

h3 {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}

p {
  --secondaryBlue: blue;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

h3:hover {
  color: var(--secondaryColor);
  color: var(--primaryRed);
}

h2:hover {
  color: var(--primaryColor);
}

div {
  --primaryRed: red;
}
.main-text {
  color: var(--primaryRed);
}

p:hover {
  color: var(--secondaryBlue);
}
