/* 
transition 0=100%
from start to end state
animatuiion 0 1% 2% . . . 100%
multiple states

animation use keyframes to define the states. use reference to the keyframes in the animation property

animation will automatically reset to the start state after the animation is done
  animation-duration: 6s; duration of the animation

  animation-iteration-count: 2; how many times the animation will run

  infinite; animation will run forever


div {
  width: 200px;
  height: 100px;
  color: white;
  margin: 5px;
}

.transition {
  background: red;
  transition: all 2s linear;
}

.transition:hover {
  background: yellowgreen;
  transform: translateX(200px);
}

.animation {
  background: blue;
  animation-name: move;
   animation-duration: 6s;
  animation-iteration-count: 2; 
  animation: move 6s infinite;
}

@keyframes move {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translate(100px);
    background: red;
  }

  75% {
    transform: translateX(-200px);
    backgreound: yellowgreen;
  }
  100% {
    transform: translateX(20px);
    background: blue;
  }
}

end of animation transiton */

/* animation fill mode 
what values are applied by the animation outside the time of executing the animation

in animation what is the original state of the element will be back to its original state after the animation is done
*/

div {
  width: 200px;
  height: 100px;
  color: white;
  margin: 5px;
  opacity: 0;
}

.animation {
  background: blue;
  animation: move 6s 3s;
}

@keyframes move {
  0% {
    opacity: 0.1;
  }
  25% {
    transform: translateX(200px);
    opacity: 0.25;
  }
  50% {
    transform: translateX(-100px);
    opacity: 0.5;
  }

  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(20px);
    opacity: 1;
  }
}
