/*  Properties for rotate transformation

rotate(deg) - rotates the element clockwise from its current position

rotateX(deg) - rotates the element around its X-axis at a given degree

rotateY(deg) - rotates the element around its Y-axis at a given degree

rotateZ(deg) - rotates the element around its Z-axis at a given degree

transform skew


*/

/* transform rotate css
div {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 5px;
}
.one {
  background: red;
  transform: rotate(-15deg);
}

.two {
  background: blue;
  transform: rotate(15deg);
}
.three {
  background: green;
  transform: rotateZ(15deg); 
  transform: rotatey(80deg);
}

 end of tranform rotate  */

/* Start of transform skew
skew(deg) - skew the element along the X-axis by the given degree

skew(x,y) - skew the element along the X-axis and Y-axis by the given degree

*/

div {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 5px;
}
.one {
  background: red;
  transform: skew(20deg);
}

.two {
  background: blue;
  transform: skewX(20deg);
}
.three {
  background: green;
  transform: skew(20deg, 30deg);
}
