/* Basic Selector

Descendant and Child Selector

div > h1 = means that h1 is a direct child of div.

class selector is more specific than element selector.

css order is important. The last one will be applied.
*/

div h1 {
  color: red;
}

div > h1 {
  color: blue;
}

.header h1 {
  color: green;
}

.header > h1 {
  color: purple;
}
