/* Basic Selector

Descendant and Child Selector

div > h1 = means that h1 is a direct child of div.

class selector is more specific than element selector.

css order is important. The last one will be applied.


::first-line = pseudo element
the first line of the element will be selected. and the style will be applied to it. example: p::first-line{font-weight: bold;}
{
::first-letter = pseudo element
*/

p::first-line {
  font-weight: bold;
}

p::first-letter {
  font-size: 2em;
}
