/* Basic Selector

Descendant and Child Selector
<<<<<<< HEAD

div > h1 = means that h1 is a direct child of div.

class selector is more specific than element selector.

css order is important. The last one will be applied.


::first-line = pseudo element
the first line of the element will be selected. and the style will be applied to it. example: p::first-line{font-weight: bold;}
{
::first-letter = pseudo element
*/

/* first line pseudo element css

p::first-line {
  font-weight: bold;
}

p::first-letter {
  font-size: 2em;
}

*/

/*
diffrent type of selectors css


* {
  color: red;
}

#heading {
  font-size: 40px;
  text-transform: uppercase;
  color: blue;
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  color: green;
}

p {
  letter-spacing: 5px;

}
 */

/* hover pseudo start */

div:hover {
  background-color: darkolivegreen;
}

.header:hover {
  background-color: burlywood;
  color: wheat;
  letter-spacing: 3px;
}

a:hover {
  text-decoration: none;
  font-size: 20px;
  background: darkred;
}
