/* position:static :default always position according to the normal flow. 
position:relative :position according to the normal flow but we can change the position using top, bottom, left, right property.

*/

div {
  border: 3px solid red;
  background: yellow;
  margin-top: 40px;
}

.one {
  background: blue;
  color: white;
  position: relative;
  bottom: 2rem;
  /* left: 20%; */
  right: 40px;
}

.two {
  background: green;
  color: white;
}

.special {
  background-color: pink;
  font-size: 20px;
  color: #222;
}
