/* Media Quiries
REsponsive design
Style elements on different screen sizes
minwidth: --- starting from
max-width --- up to
mobile first design
*/

body {
  background: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
  background: red;
}
h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  body {
    background: green;
  }
  .banner {
    background: blue;
  }
  h1 {
    font-size: 60px;
    text-decoration: none;
  }
}
