/* if no additional setting in 
background: url("../images/folder-img.jpeg");
then the defaul value will be image repeat in both direction or crop 
additiona settings
background-repeat: repeat, no-repeat;
round = means stretch the image to fit the container

in-order - if several repeat settings are given then the last one will be applied

background-size: cover, contain;
cover = stretch the image to fit the container,
contain = stretch the image to fit the container but the image will not be cropped
*/

div {
  height: 300px;
  color: white;
  border: 2px solid red;
}

.big-img {
  background: url("../big.jpeg");
  /* background-repeat: no-repeat; */
  background-size: contain;
}

.small-img {
  background: url("../small.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.folder-img {
  background: url("../images/folder-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
